
<div title="Tiempo respuesta" style="display:inline-block">
	<img height="25" src="/public/rmodules/Raptorjs/RaptorNode/img/minify-panel/time.png" style="overflow:visible">
	<b><%- time %></b> seg</div> | 

<div title="Uso memoria" style="display:inline-block"><img height="25" src="/public/rmodules/Raptorjs/RaptorNode/img/minify-panel/ram.png" style="overflow:visible"><%- memory %></div> |

<div title="" class="raptorjs-node-debug-trigger" style="display:inline-block;">
	<div class="raptorjs-node-debug-popup raptor-route-panel" data-title="Rutas">
		<style>

			.raptor-route-panel input[type="text"]:focus, .raptor-route-panel input.focus[type="text"] {
			    border: solid 1px #707070;
			    -webkit-box-shadow: 0 0 5px 1px  #372b53;
			    -moz-box-shadow: 0 0 5px 1px  #372b53;
			    box-shadow: 0 0 5px 1px  #372b53;
			}
			.raptor-route-panel input[type="text"] {
			    padding: 10px;
			    border: solid 1px gainsboro;
			    -webkit-transition: box-shadow 0.3s, border 0.3s;
			    -moz-transition: box-shadow 0.3s, border 0.3s;
			    -o-transition: box-shadow 0.3s, border 0.3s;
			    transition: box-shadow 0.3s, border 0.3s;
			}
			.raptor-route-panel input[type="text"] {
			    display: block;
			    margin: 0;
			    width: 100%;
			    font-family: "Open Sans", sans-serif;
			    font-size: 12px;
			    -webkit-appearance: none;
			    -moz-appearance: none;
			    appearance: none;
			    -webkit-box-shadow: none;
			    -moz-box-shadow: none;
			    box-shadow: none;
			    -webkit-border-radius: none;
			    -moz-border-radius: none;
			    -ms-border-radius: none;
			    -o-border-radius: none;
			    border-radius: none;
			    margin-bottom: 10px;
			}
			
			ul.raptor-routes-list {
			    margin-bottom: 14px;
			    padding-left: 2px;
			    list-style: none;
			}
			.raptor-routes-list li { width: 100%; margin: 0 0 7px 0; }
			.raptor-routes-list li a { 
			    display: block;
			margin: 0 0 7px 0;
			color: #333;
			padding: 2px 0 0 5px;
			text-decoration: none;
			}

			.raptor-routes-list li a:hover { background-color: #EFEFEF; }

			.raptor-routes-list .orange { border-left: 5px solid #F5876E; }

			.raptor-routes-list .blue{ border-left: 5px solid #61A8DC; }

			.raptor-routes-list .green{ border-left: 5px solid #8EBD40; }

			.raptor-routes-list .purple { border-left: 5px solid #988CC3; }

			.raptor-routes-list .gold { border-left: 5px solid #D8C86E; }

		</style>

		<input type="text" placeholder="filtrar rutas" class="raptor-search-routes-panel">


		<div style="height: 300px;overflow-y:scroll">
		<% if(routesDef){ %>
			<ul class="raptor-routes-list">
			<% var colors=['orange','blue','green','purple','gold'], current=0,counter=0; %>
			<% for(var i in routesDef) { %>
				<li class="<%- colors[current] %>"><a href="<%- i %>" target="_blank"><%- i %></a></li>
				<% counter++ %>
				<% current=counter%5 %>

			<% } %>	
			</ul>
		<% }else{ %>
			<span>Sin datos de ruta</span>
		<% } %>	
		</div>
		
		
		<script>
			(function(){
				var inter=setInterval(function(){
					if(window.$){
						clearInterval(inter);
						$(".raptor-search-routes-panel").on("keyup", function(ev){
						    var texto = $(this).val();
						    filtro(texto);
						});

						function filtro(texto) {
						    var lista = $(".raptor-routes-list li").hide()
		                     .filter(function(){
		                         var item = $(this).text();
		                         var padrao = new RegExp(texto, "i");
		                         
		                         return padrao.test(item);
		                     }).closest("li").show();
						}
					}
				},500)
			})()
		</script>

	</div>
	<img height="25" src="/public/rmodules/Raptorjs/RaptorNode/img/minify-panel/route.png" style="overflow:visible;margin-right:4px"><b>(<%- routes%>)</b>
</div> |

<div title="Sesión" class="raptorjs-node-debug-trigger" style="display:inline-block;overflow:visible">
	<div class="raptorjs-node-debug-popup" data-title="Datos de la sesión">
		<div>
			<% if(!auth){ %>
				<span><b>Auth:</b> No autenticado</span>
			<% }else{ %>
				<span><b>Auth:</b> Autenticado</span>
			<% } %>		
		</div>
		<br>
		<span><b>Datos</b></span><br>
		<div>
			<% if(session){ %>
				<% for(var i in session) { %>
					<span><b><%- i %>:</b> <%- session[i] %></span><br>
				<% } %>	
			<% }else{ %>
				<span>Sin datos de sesion</span>
			<% } %>		
		</div>
		
		
	</div>
	<img height="20" src="/public/rmodules/Raptorjs/RaptorNode/img/minify-panel/session.png" style="overflow:visible;margin-right:4px"><b>Sesión</b>
</div> |

<div title="Lenguaje" style="display:inline-block;overflow:visible">
	
	<img height="20" src="/public/rmodules/Raptorjs/RaptorNode/img/minify-panel/lang.png" style="overflow:visible;margin-right:4px"><b> <%- lang %></b>
</div>