     
      <div class="starter-template" style="margin-top: 50px">
        <h1>Configuración del framework</h1>
        <p class="lead text-muted">la configuración puede ser editada de forma manual en el archivo config/options.json</p>
       
      </div>

      <div class="container-fluid">
      <%- R.plugin('raptorpanel_options') %>
            <form class="form-horizontal" method="POST" action="config/process">

                <div class="row">
                    <div class="col-md-4">
                        <label data-toggle="tooltip" data-placement="top" title="Name of your project, its used to create a session name too" class="control-label" for="proyect">Nombre del proyecto</label>
                        <div class="controls">
                            <input class="form-control" name="proyect" type="text" id="proyect" placeholder="..." value="<%- options.name %>">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <label data-toggle="tooltip" data-placement="top" title="Driver to use in the database connection" class="control-label" for="driver">Dialecto</label>
                        <div class="controls">
                            <select class="form-control" name="driver" id="driver">
                                <option >pgsql</option>
                                <option >mysql</option>
                                <option >sqlite</option>
                            </select>
                        </div>


                    </div>
                 
                    </div>     



                    <div class="row">
                        <div class="col-md-4">
                            <label data-toggle="tooltip" data-placement="top" title="Database name to connect with" class="control-label" for="inputDB">Nombre DB</label>
                            <div class="controls">
                                <input class="form-control" name="db" type="text" id="inputDB" placeholder="" value="<%- options.database.name%>">
                            </div>
                        </div>
                       
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label data-toggle="tooltip" data-placement="top" title="Database host address" class="control-label" for="inputHost">Host</label>
                            <div class="controls">
                                <input name="host" class="form-control" type="text" id="inputHost" placeholder="" value="<%- options.database.options.host %>">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label data-toggle="tooltip" data-placement="top" title="Database port to connect with" class="control-label" for="inputPort">Port</label>
                            <div class="controls">
                                <input name="port" class="form-control" type="text" id="inputPort" placeholder="" value="<%- options.database.options.port %>">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label data-toggle="tooltip" data-placement="top" title="Database user" class="control-label" for="inputUser">Usuario</label>
                            <div class="controls">
                                <input name="usera" class="form-control" type="text" id="inputUser" placeholder="" value="<%- options.database.user %>">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label data-toggle="tooltip" data-placement="top" title="Database password" class="control-label" for="inputPass">Contraseña</label>
                            <div class="controls">
                                <input name="passworda" class="form-control" type="password" id="inputPass" placeholder="" value="<%- options.database.password %>">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label data-toggle="tooltip" data-placement="top" title="Secret key, used to create protections agains CSRF, encryptions tokens etc.." class="control-label" for="inputSecret">Secret</label>
                            <div class="input-group">
                                <input name="secret" class="form-control" type="text" id="inputSecret" placeholder="" value="<%- options.secret %>">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" class="" id="Generator" type="button">Generate!</button>
                                </span>
                            </div>

                        </div>

                    </div>

                    <div class="row pull-left" style="margin-top: 40px;margin-bottom: 40px;">
                        <div class="col-md-4">
                            <button type="submit" id="btn-config" class="btn btn-success"><i class="icon-raptor-configure icon-white" style="margin-right: 5px"></i>Configurar</button>
                        </div>

                    </div>



                </form>     
       </div>

       <script type="text/javascript">
        $(document.body).ready(function() {

           
            $('#Generator').click(generateSecret);
            $('#driver').val("<%- options.database.dialect%>");
          
            $('#btn-config').click(function() {
                $(this).attr({disabled: true});
            })
            //if (window.parent)
           //     window.parent.Interactive.show('raptor.configuration.conf');
            $('[data-toggle="tooltip"]').tooltip();
            
        });
        function generateSecret() {

            for (var c = ''; c.length < 32; )
                c += 'abcdefgh1234567890@#$%*ijklmnopqrstuvwxyz'.charAt(Math.random() * 26)

            $('#inputSecret').val(c);
        }
        </script>    
