<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <link rel="icon" href="<% if (R.plugin('ngPortal_icon')) { %><%- R.plugin('ngPortal_icon') %><% }else{ %> <%-public('ngPortalNode/img/logo.png')%> <% } %>">

        <title><% if (R.plugin('ngPortal_name')){ %><%- R.plugin('ngPortal_name') %><% }else{ %><%- appname %> <%- version %><% } %></title>

        <!-- Bootstrap core CSS -->
        <link href="/public/bootstrap/v4/css/bootstrap.min.css" rel="stylesheet">
        <link href="/public/angular/angular-material.min.css" rel="stylesheet">


        <!--<link href="/public/Raptor/css/uir/uir-all.css" rel="stylesheet">-->

        <style>
            body {
                padding-top: 56px;
            }
            .starter-template {
                padding: 3rem 1.5rem;
                text-align: center;
            }
            .nav-doc-bar{
                box-shadow: 2px 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
                background: #606060;
            }
            .md-sidenav-left .md-theme-indigo, .md-sidenav-left .nav-theme {
                background-color: #33393f;
                min-height: initial !important;
            }
            .md-sidenav-left .md-theme-indigo p{
                padding:8px;
            }
            .md-sidenav-left{
                width: 250px
            }
            .folder-es{
                background: #5b5b5b;
                color: white;
                padding: 10px
            }
            md-autocomplete input{
                color: white !important
            }
            .md-virtual-repeat-container.md-autocomplete-suggestions-container{
                z-index: 1000000;
            }
            .portal-loading{
                position: fixed;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,.9);
                z-index:100000000000000;
                top:0;
                left:0
            }

            .portal-loading md-progress-linear .md-container{
                background-color: #bb818171 !important
            }
            .portal-loading md-progress-linear .md-bar{
                background-color: #911818 !important
            }
            .portal-loading .portal-loading-container{
                text-align: center;
                width: 40%;
                margin-left: 30%;
                position: absolute;
                top:45%
            }
            .portal-loading .portal-loading-text{
                color:white
            }

        </style>
        <%- R.plugin('ngPortal_header') %>
    </head>

    <body ng-app="ngPortalApp">

        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top nav-doc-bar" style="z-index:103">
            <a class="navbar-brand" href="#"><% if (R.plugin('ngPortal_name')){ %><%- R.plugin('ngPortal_name') %><% }else{ %><%- appname %> <%- version %><% } %></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div  class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">

                </ul>
                <ul class="navbar-nav mr-right">

                    
                    <li class="nav-item"><a class="nav-link" href="#!/e/<%- routename %>/home/description" class="function-home"><span class="glyphicon glyphicon-home" style="margin-right: 5px"></span><% if (R.plugin('ngPortal_starttext')){ %><%- R.plugin('ngPortal_starttext') %><% }else{ %>Inicio <% } %></a></li>
                    <% if (security && profile){ %>
                    <li class="nav-item"><a class="nav-link" href="#!/e/<%- routename %>/profile" class="function-profile"><span class="glyphicon glyphicon-user" style="margin-right: 5px"></span>Perfil</a></li>
                    <% } %>
                    <%- R.plugin('ngPortal_navbar') %>
                    <% if (security){ %>
                    <li class="nav-item"><a class="nav-link" href="home/logout" class="function-logout"><span class="glyphicon glyphicon-log-out" style="margin-right: 5px"></span>Salir</a></li>
                    <% } %>
                </ul>

            </div>
        </div>
    </nav>

    <div ng-controller="MyController" layout="column" style="height:100%;" ng-cloak>

        <section layout="row" flex>

            <md-sidenav
                class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                md-whiteframe="4">

                <md-toolbar class="md-theme-indigo">
                    <p class="text-center" ><img src="<%if (R.plugin('ngPortal_icon')){%><%- R.plugin('ngPortal_icon') %><%}else{%><%-public('ngPortalNode/img/logo.png')%> <% } %>" height="100"></p>

                </md-toolbar>
                <md-content layout-padding >

                    <% if (modules.length ==0){ %>

                    <% }else{ %>
                        <ul class="nav nav-sidebar flex-column">
                            <% for (var menuItem in modules){ %>
                                <% if (modules[menuItem]['type']==2){ %>
                                    <li class="nav-item <%- modules[menuItem]['className'] %>" ><a class=""><b style="color: #333333"><%- modules[menuItem]['name'] %></b></a>

                                        <% for (var child in modules[menuItem].children){ %>
                                            <% if (modules[menuItem].children[child]['type']==0){ %>
                                            <li class="nav-item"><a class="nav-link <%- modules[menuItem].children[child]['className'] %>" route="<%- modules[menuItem].children[child]['route'] %>">
                                                    <% if (modules[menuItem].children[child]['icon']){ %>
                                                        <% if (R.plugin('ngPortal_sidebar_iconbase')){ %>              
                                                            <img src="<%- R.plugin('ngPortal_sidebar_iconbase')+modules[menuItem].children[child]['icon']+".png" %>" width="25">
                                                        <% }else{ %>
                                                            <img src="<%- "/portal/rmodules/Util/ngPortalNode/menu/"+modules[menuItem].children[child]['icon']+".png" %>" width="25">
                                                        <% } %>     
                                                    <% }else{ %>
                                                        <img src="<%-public('ngPortalNode/img/menu-item.png')%>" width="25">
                                                    <% } %>

                                                    <%- modules[menuItem].children[child]['name'] %></a></li>
                                                <% }else{ %>

                                        <% } %>
                                    <% } %>

                                    </li>        

                                <% } %>
                            <% } %>
                        </ul>
                        <% if (modules.length >0){ %>

                            <ul class="nav nav-sidebar flex-column">
                                <% for (var menuItem in modules){ %>
                                    <% if (modules[menuItem]['type']==0){ %>

                                        <li><a class="nav-link <%- modules[menuItem]['className'] %>" route="<%- modules[menuItem]['route'] %>">
                                                <% if (modules[menuItem]['icon']){ %>
                                                    <% if (R.plugin('ngPortal_sidebar_iconbase')){ %>              
                                                        <img src="<%- R.plugin('ngPortal_sidebar_iconbase')+modules[menuItem]['icon']+".png" %>" width="25">
                                                    <% }else{ %>
                                                        <img src="<%- public('ngPortalNode/menu/'+modules[menuItem]['icon']+'.png') %>" width="25">
                                                    <% } %>                                  

                                                <% }else{ %>
                                                    <img src="<%-public('ngPortalNode/img/menu-item.png')%>" width="25">
                                                <% } %>

                                                <%- modules[menuItem]['name'] %></a></li>
                                            <% } %>
                                        <% } %>                           
                            </ul>        

                        <% } %>    


                    <% } %>

                    <%- R.plugin('ngPortal_sidebar') %>

                </md-content>

            </md-sidenav>

            <md-content flex layout-padding>
                    
                <div layout="column" layout-align="">
                        
                    <div role="main" class="container" ng-view></div>
                    <%- R.plugin('ngPortal_content') %>
                </div>

                <div flex></div>

            </md-content>


        </section>
        <div class="portal-loading">
            <div class="portal-loading-container">
                    <p class="portal-loading-text">Espere...</p>
                    <md-progress-linear md-mode="query"></md-progress-linear>
            </div>
            
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/public/bootstrap/js/jquery.js"></script>
    <script src="/public/bootstrap/v4/js/bootstrap.bundle.min.js"></script>
    <script src="/public/angular/angular.min.js"></script>
    <script src="/public/angular/angular-route.min.js"></script>
    <script src="/public/angular/angular-animate.min.js"></script>
    <script src="/public/angular/angular-aria.min.js"></script>
    <script src="/public/angular/angular-messages.min.js"></script>
    <script src="/public/angular/angular-material.min.js"></script>
    <script src="/public/Raptor/js/raptor-core.js"></script>
    <!--<script src="/public/Raptor/js/uir/uir-all.js"></script>-->
    <script>
    Raptor.ngPortal = {
        route: '<%-routename%>'
    }
    </script>
    <script src="<%-public('ngPortalNode/ng/app.js')%>"></script>
    <script src="<%-public('ngPortalNode/ng/profile.controller.js')%>"></script>
    <%- R.plugin('ngPortal_script') %>

</body>
</html>
